<div class="row-fluid text-center">
  <div class="span4">
    <%= image_tag("win_time.jpg") %>
    <h3><%= t '.win_time' %></h3>

    <p>
      <%= t '.win_time_p' %>
    </p></div>
  <div class="span4">
    <%= image_tag("be_organized.jpg") %>
    <h3><%= t '.be_organized' %></h3>

    <p>
      <%= t '.be_organized_p' %>
    </p></div>
  <div class="span4">
    <%= image_tag("improve.jpg") %>
    <h3><%= t '.improve' %></h3>

    <p>
      <%= t '.improve_p' %>
    </p></div>
</div>
