<div class="top-banner">
  <div class="row">
    <div class="hero-unit span11 offset1">
      <h1><%= t :applications %></h1>

      <p><%=t :organized %></p>

      <p>
        <%= link_to t(:sign_in), root_url, :class => "btn btn-primary btn-large" %>
      </p>
    </div>
  </div>

</div>
<div class="container page">
  <div class="row-fluid text-center">
    <div class="span4">
      <%= image_tag("win_time.jpg") %>
      <h3><%=t :win_time %></h3>

      <p>
        <%=t :win_time_p %>
      </p></div>
    <div class="span4">
      <%= image_tag("be_organized.jpg") %>
      <h3><%=t :be_organized %></h3>

      <p>
        <%=t :be_organized_p%>
      </p></div>
    <div class="span4">
      <%= image_tag("improve.jpg") %>
      <h3><%=t :improve %></h3>

      <p>
        <%=t :improve_p%>
      </p></div>
  </div>
</div>