<!DOCTYPE html>
<html>
<head>
  <%= render :partial => 'shared/head' %>
</head>
<body>
<%= render :partial => 'shared/navbar'  %>
<div class="top-banner">
  <div class="row">
    <div class="hero-unit span11 offset1">
      <h1><%= t '.hero.title' %></h1>

      <p><%= t '.hero.p' %></p>

      <p>
        <%= link_to t('layouts.navbar.sign_up'), new_user_registration_path, :class => "btn btn-primary btn-large" %>
      </p>
    </div>
  </div>
</div>
<div class="container page">
  <%= render :partial => 'shared/notice' %>
  <%= yield %>
</div>
<%= render :partial => 'shared/bottom' %>

</body>
</html>
